<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--<appSettings>
    <add key="twitterConsumerKey" value="3O7paxRApmRvPkzd0L1NOKQ0O"/>
    <add key="twitterConsumerSecret" value="8lfBW1jMHS8viFp4EQBHMRoamaGy02YEcJ2dtCvWWKq7wFkSFc"/>

    <add key="accessToken" value=""/>
    <add key="accessTokenSecret" value=""/>
  </appSettings>-->
  <appSettings>
    <add key="twitterConsumerKey" value="3O7paxRApmRvPkzd0L1NOKQ0O"/>
    <add key="twitterConsumerSecret" value="8lfBW1jMHS8viFp4EQBHMRoamaGy02YEcJ2dtCvWWKq7wFkSFc"/>
  </appSettings>
</configuration>